/* 全体設定 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--default-panel-background:#282828;
	--default-panel-text:#ffffff;
	--default-panel-border:#101010;

	--default-tweet-background:#282828;
	--default-tweet-text:#ffffff;
	--default-tweet-link:#b0d0f0;

	--default-titlebar-background:#606060;
	--default-titlebar-text:#ffffff;
	--default-titlebar-fixed-background:#404040;

	--default-button-background:#404040;
	--default-button-text:#ffffff;

	--default-general-highlight:#2080a0;

	--panel-background: var(--default-panel-background);
	--panel-text: var(--default-panel-text);
	--panel-border: var(--default-panel-border);

	--tweet-background: var(--default-tweet-background);
	--tweet-text: var(--default-tweet-text);
	--tweet-link: var(--default-tweet-link);

	--titlebar-background: var(--default-titlebar-background);
	--titlebar-text: var(--default-titlebar-text);
	--titlebar-fixed-background: var(--default-titlebar-fixed-background);

	--button-background: var(--default-button-background);
	--button-text: var(--default-button-text);

	--general-highlight: var(--default-general-highlight);
}

html {
	height: 100%;
}

body {
	height: 100%;
	line-height: 1.2rem;
	overflow: auto;
	user-select: none;

	background-color: #303434;	/* color set: 全体のBG */
	color: #ffffff;	/* color set: 全体のフォント */
}

input[type='checkbox'], input[type='radio'] {
	position: relative;
	top: 2px;
}

input[type='radio'] {
	margin-right: 4px;
}

img {
	border: 0;
}

/* アンカー */
.anchor {
	cursor: pointer;
	text-decoration: none;
}

/* 絵文字 */
img.emoji {
	height: 1rem;
	width: 1rem;
	margin: 0 .05rem 0 .1rem;
	vertical-align: -0.1rem;
}

/* Loading... */
#loading {
	position: fixed;
	left: 0px;
	top: 0px;
	padding: 6px;
	margin: 4px;
	z-index: 8000;

	color: #ffffff;	/* color set: 固定(loading) */
	background-color: #3da4c2;	/* color set: 固定(loading) */
}

/* ヘッダ */
#head {
	display: table;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#head > div {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	border-width: 1px 0;
	border-style: solid;

	border-color: var(--panel-border);
	background-color: var(--panel-background);
	color: var(--panel-text);
}

/* パネルリスト表示ボタン */
#head > div:first-child {
	text-align: left;
}

#head_panellist {
	padding-left: 8px;
	opacity: 0.5;
}

#head_panellist:hover {
	cursor: pointer;
	opacity: 1.0;
}

#head .subcontainer {
	position: relative;
}

#head .header_sub {
	position: absolute;
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
	z-index: 8900;

	border: 1px solid #101010;	/* color set: 固定(popup-menu) */
	box-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.5 );	/* color set: 固定(popup-menu) */
	background-color: var(--panel-background);
	color: var(--panel-text);
}

#head .header_sub span {
	display: block;
	padding: 6px 12px;
	text-align: left;
}

#head .header_sub span:hover {
	cursor: pointer;

	background-color: var(--general-highlight);
}

/* ツールバーユーザ */
#head_users > div {
	display: inline-block;
	width: 2.4rem;
	height: 2.4rem;
	margin: 2px 0px;
	vertical-align: middle;
	text-align: center;
	padding-left: 1px;
	position: relative;

	border-left: 2px solid rgba( 255, 255, 255, 0 );	/* color set: 固定(toolbar-user) */
}

#head_users > div.dmy {
	width: 3px;
}

#head_users > div.iconover {
	border-left-color: rgba( 255, 255, 255, 1 );	/* color set: 固定(toolbar-user) */
}

#head_users > div > span > img {
	width: 2.4rem;
	height: 2.4rem;
	z-index: 2000;
}

#head_users > div > span > img:hover {
	cursor: pointer;
	opacity: 0.8;
}

#head_users > div > .streamsts {
	position: absolute;
	left: -2px;
	bottom: 0px;
}

/* ストリームの状態 */
.streamsts > div {
	width: 6px;
	height: 6px;

	border: 1px inset #808080;	/* color set: 固定(US-base) */
	box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.5 ) inset;	/* color set: 固定(US-base) */
}

.streamsts > div.try {
	background-color: #ffcc60;	/* color set: 固定(US-try) */
}

.streamsts > div.on {
	background-color: #60ffa0;	/* color set: 固定(US-on) */
}

.streamsts > div.off {
	background-color: #303030;	/* color set: 固定(US-off) */
}

.streamsts > div.on:hover,
.streamsts > div.try:hover,
.streamsts > div.off:hover {
	cursor: pointer;
}

/* ツールバー小アイコン */
#head_users > div > div.listicon {
	position: absolute;
	left: 0px;
	bottom: -4px;
	pointer-events: none;
}

#head_users > div > div.listicon:hover {
	cursor: pointer;
}

/* メイン */
#main {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

/* バージョン表示 */
#version {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 4px;
	font-weight: bold;
}

/* ツールチップ */
#tooltip {
	position: absolute;
	max-width: 300px;
	width: auto;
	height: auto;
	padding: 4px;
	overflow: hidden;
	word-break:break-all;
	word-wrap: break-word;
	left: 0px;
	top: 0px;
	z-index: 9500;
	margin-left: 4px;
	-webkit-animation-name:tooltip;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
	-webkit-animation-delay:0;
	pointer-events: none;

	border: 1px solid #101010;	/* color set: 固定(tooltip) */
	background-color: #202424;	/* color set: 固定(tooltip) */
}

@-webkit-keyframes tooltip{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

/* ブラックアウト */
#blackout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9900;

	background: rgba( 0, 0, 0, 0.5 );	/* color set: 固定(blackout) */
}

#blackout > div.info {
	display: block;
	margin: 8px 16px;
}

/* パネル */
panel {
	display: block;
	z-index: 100;

	border: 2px solid var(--panel-border);
	background-color: var(--panel-background);
	color: var(--panel-text);
}

/* パネルのタイトルバー */
panel div.titlebar {
	display: table;
	width: 100%;
	border-collapse: separate;
	border-spacing: 4px 0px;
	border-bottom: 1px solid var(--panel-border);
	background-color: var(--titlebar-background);
	color: var(--titlebar-text);
	table-layout: fixed;
	cursor: move;
}

panel div.titlebar > span {
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	padding: 6px 0;
}

/* タイトルアイコン */
panel div.titlebar .titleicon {
	font-size: 1.2rem;
	width: 1.3rem;
}

panel div.titlebar .titleicon:hover {
	cursor: pointer;
}

/* タイトルバーの文字列 */
panel div.titlebar .title {
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* タイトルバーのボタン */
panel div.titlebar > .ctlbtn {
	width: 1.5rem;
	opacity: 0.5;
}

panel div.titlebar > .ctlbtn:hover {
	cursor: pointer;
	opacity: 1.0;
}

panel div.titlebar > .ctlbtn:active {
	opacity: 0.5;
}

/* 位置固定パネル */
panel.fixed div.titlebar {
	background-color: var(--titlebar-fixed-background);
}

/* 位置固定メニュー */
panel div.titlebar .titlesetting {
	position: absolute;
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
	z-index: 8900;

	border: 1px solid #101010;	/* color set: 固定(popup-menu) */
	box-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.5 );	/* color set: 固定(popup-menu) */
	background-color: var(--panel-background);
	color: var(--panel-text);
}

panel div.titlebar .titlesetting span
{
	display: block;
	padding: 3px 6px;
	text-align: left;
}

/* パネル-コンテンツ */
panel div.contents {
	display: block;
}

/* パネル-コンテンツ-タイムライン表示 */
panel div.contents > .lines {
	width: 100%;
	height: 100%;
}

/* パネル-コンテンツ-設定表示 */
panel div.contents > .setting {
	width: 100%;
	height: 100%;
}

/* ボタン */
.btn {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	height: auto;
	text-align: center;
	padding: 8px;
	font-size: 1.0rem;

	border: 1px solid #101010;	/* color set:固定(button) */
	color: var(--button-text);
	background-color: var(--button-background);
}

.btn.img {
	font-size: 1.2rem;
}

.btn:not(.disabled):hover {
	cursor: pointer;

	background-color: var(--general-highlight);
}

.btn:not(.disabled):active {
	opacity: 0.5;
}

.btn.disabled {
	opacity: 0.3;
}

.panel_btns {
	display: table;
	width: 100%;
	height: 37px;

	border-bottom: 1px solid rgba( 0, 0, 0, 0.4 );	/* color set:固定(panel-buttons) */
}

.panel_btns > div {
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
}

.btn.panel_btn {
	padding: 6px 8px;
	margin: 2px;
}

/* ボタンの個別設定 */
.btn.headerbtn {
	margin: 2px;
	font-size: 1.2rem;
}

/* テキストボックス、セレクトボックス */
input[type=text], input[type=password], select {
	display: inline-block;
	padding: 7px 6px 5px 6px;
	border: 1px solid #101010;
	box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.5 ) inset;
	color: #000000;
	background-color: #e7e7d4;
	outline: none;
}

/* テキストエリア */
textarea {
	display: block;
	padding: 7px 6px 5px 6px;
	border: 1px solid #101010;
	box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.5 ) inset;
	color: #000000;
	background-color: #e7e7d4;
	outline: none;
	resize: none;
}

/* ファイル選択 */
input[type=file] {
}

/* アカウントセレクト */
.account_select {
	width: 100%;
}

/* 選択されたアカウント */
.selectitem {
	display: table;
	width: 100%;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.4 );
	padding: 4px;
}

.selectitem:hover {
	cursor: pointer;
}

.selectitem > div.avatar img {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 4px;
}

.selectitem > div {
	display: table-cell;
	vertical-align: middle;
}

.selectitem > div.avatar {
	width: 2rem;
	min-width: 2rem;
}

.selectitem > div.display_name {
	width: 100%;
	font-weight: bold;
}

.selectitem > div:last-child {
	display: table-cell;
	text-align: right;
	padding: 0 4px;
	font-size: 0.8rem;
}

/* アカウントセレクト-アカウント一覧 */

.selectlist {
	background: var(--panel-background);
	width: 90%;
	overflow-y: auto;
	overflow-x: hidden;
	border-right: 1px solid #101010;
	box-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.5 );
	position: absolute;
	z-index: 9002;
	max-height: 240px;
}

.selectlist .item {
	display: table;
	width: 100%;
	padding: 4px;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.4 );
}

.selectlist .item:hover {
	cursor: pointer;
}

.selectlist .item > div img {
	width: 1.5rem;
	height: 1.5rem;
}

.selectlist .item > div {
	display: table-cell;
	vertical-align: middle;
}

.selectlist .item > div.avatar {
	width: 2rem;
	min-width: 2rem;
}

.selectlist .item > div.display_name {
	width: 100%;
	font-weight: bold;
}

.selectlist .item.select {
	background-color: var(--general-highlight);
	cursor: pointer;
}

/* スライダー */
.ui-slider {
	display: inline-block;
	border: 1px solid #101010;
	background: -webkit-gradient(linear, left top, left bottom, from(#000404), to(#202424));
	margin: 0 4px 0 4px;
}

.ui-slider .ui-slider-handle {
	border: 1px solid #101010;
	box-shadow: 1px 1px 2px #505050 inset;
	background: -webkit-gradient(linear, left top, left bottom, from(#383838), to(#242424));
	cursor: pointer;
}

.ui-slider .ui-slider-handle:focus {
	outline: 0;
}

.slidercontainer {
	display: table;
	width: 100%;
	margin: 0 0;
	vertical-align: top;
}

.slidercontainer .slidestr {
	font-size: 0.8rem;
}

.slidercontainer .value_disp {
	margin-left: 8px;
	font-size: 0.8rem;
}

.checkboxcontainer {
	display: table;
	width: 100%;
	margin: 0 0;
	vertical-align: top;
}

.checkboxcontainer > span {
	display: table-cell;
}

.checkboxcontainer > span:first-child {
	width: 18px;
}

.radiocontainer {
	display: table;
	width: 100%;
	margin: 0 0;
	vertical-align: top;
}

.radiocontainer > div {
	margin: 2px 4px;
}

/* 新着件数 */
panel div.titlebar .badge {
	padding: 0px 2px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #dc2d2d;
}

panel div.titlebar .badge:hover {
	cursor: pointer;
}

panel.fixed div.titlebar .badge {
	border-color: #404040;
}

/* メッセージボックス */
#messagebox {
	position: absolute;
	width: 400px;
	height: auto;
	padding: 4px;
	border: 4px solid var(--panel-border);
	word-break:break-all;
	word-wrap: break-word;
	left: -1000px;
	top: 0;
	z-index: 10000;
	background-color: var(--panel-background);
}

#messagebox_body {
	text-align: left;
	padding: 4px;
}

#messagebox_body > div {
	margin: 4px;
}

#messagebox_body > div .msg {
}

#messagebox_foot {
	text-align: center;
	margin-top: 4px;
}

/* プルダウンメニュー */
.pulldown {
	display: none;
	position: absolute;
	border: 1px solid #101010;
	color: var(--panel-text);
	background-color: var(--panel-background);
	z-index: 9001;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 180px;
}

.pulldown > .item {
	padding: 4px 6px;
}

.pulldown > .item:hover {
	cursor: pointer;
	background: var(--general-highlight);
}

/* スクロールバー */
::-webkit-scrollbar {
	background: #242424;
}

::-webkit-scrollbar:vertical {
	width: 12px;
	border-left: 1px solid #101010;
}

::-webkit-scrollbar:horizontal {
	height: 12px;
	border-top: 1px solid #101010;
}

::-webkit-scrollbar-thumb:vertical {
	background: #777777;
	border-left: 1px solid #101010;
}

::-webkit-scrollbar-thumb:horizontal {
	background: #777777;
	border-top: 1px solid #101010;
}

::-webkit-scrollbar-thumb:active:vertical {
	background: #666666;
}

::-webkit-scrollbar-thumb:active:horizontal {
	background: #666666;
}

::-webkit-scrollbar-corner {
	background: #242424;
	border: solid #101010;
	border-width: 1px 0 0 1px;
}

/* 注意書き等 */
span.info {
	font-size: 0.8rem;
	color: #c0c0c0;
}

/* 一番上、一番下 */
.sctbl {
	width: 18px;
}

.sctbl > a {
	display: block;
	opacity: 0.5;
	font-size: 0.8rem;
	padding: 4px;
}

.sctbl > a:hover {
	cursor: pointer;
	opacity: 1.0;
}

.sctbl > a:active {
	opacity: 0.5;
}

/* パネルリスト */
#panellist {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 0px;
	height: 100%;
	z-index: 1000;
	border-width: 1px 2px 1px 1px;
	border-style: solid;

	border-color: var(--panel-border);
	background-color: var(--panel-background);
	color: var(--panel-text);
}

#panellist > div.lists {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#panellist > div.lists > div {
	padding: 8px 4px;
	overflow-x: hidden;
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
	display: table;
	width: 100%;

	border-bottom: 1px solid var(--panel-border);
}

#panellist > div.lists > div > span {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

#panellist > div.lists > div:hover {
	cursor: pointer;

	background-color: var(--general-highlight);
}

#panellist > div.lists > div:active {
	cursor: pointer;
	opacity: 0.5;
}

#panellist > div.lists > div > .icon {
	padding-right: 4px;
	font-size: 1.5rem;
	width: 1.5rem;
}

#panellist > div.lists > div > .badge {
	padding: 0px 2px;
	font-weight: bold;
	font-size: 0.8rem;
	width: 0.8rem;
	text-align: center;

	color: #ffffff;
	background-color: #dc2d2d;
}

img.ui-draggable {
	width: 32px;
	height: 32px;
}

/* 初回言語選択 */

#select_locale {
	display: table;
	position: relative;
	margin: 0 auto;
	top: 50%;
}

#select_locale > div {
	display: table-cell;
	vertical-align: middle;
	padding: 0 4px;
}
