/* アカウント設定 */
div.contents.accountset {
	overflow-x: hidden;
	overflow-y: auto;
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
	height: 100%;
}

#avatarchange, #headerchange, #profedit, #privacychange {
	padding: 8px;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.4 );
}

#avatarchange > div, #headerchange > div, #profedit > div, #privacychange > div {
	padding: 4px 8px;
}

#profbio {
	height: 40px;
}

div.contents.accountset > div > span {
	display: block;
	margin-bottom: 2px;
}

#avatarimg, #headerimg {
	max-width: 48px;
	max-height: 48px;
}

#avatarchange > div > div, #headerchange > div > div {
	display: inline-block;
	vertical-align: top;
}

#avatarupload_input, #headerupload_input {
	visibility: hidden;
}

#avataruploadbox_select, #headeruploadbox_select {
}

#profedit > div {
	margin: 4px 0;
}

#profedit > div > span {
	display: inline-block;
	width: 50px;
}

#profedit > div > input[type=text] {
	width: 90%;
}

#profedit > div > textarea {
	margin: 4px 0;
	width: 90%;
	height: 7rem;
}
