/* 設定 */
div.contents.cmnsetting {
	overflow-x: hidden;
	overflow-y: hidden;
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
	height: 100%;
}

/* 設定項目部 */
#cmnsetting_items {
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#cmnsetting_items .kind {
	padding: 4px 8px;
}

#cmnsetting_items .kind:hover {
	cursor: pointer;
}

#cmnsetting_items .kind > span {
	padding-right: 2px;
}

#cmnsetting_items .kinditems {
	min-width: 240px;
	margin: 2px;
	padding: 4px;
	border: 1px solid #101010;
	white-space: normal;
}

#cmnsetting_items .group {
	margin: 2px;
	padding: 4px;
}

#cmnsetting_items .group > .title {
	width: 100%;
	margin: 2px;
}

/* フォントサイズ設定 */
#cset_font_size {
	width: 50%;
}

/* 通知音の音量 */
#cset_notify_sound_volume {
	width: 30%;
}

/* 試聴ボタン */
#cset_audition {
	padding: 4px 8px 2px 8px;
	margin-right: 4px;
}

/* Now Browsing */
#cset_nowbrowsing_text {
	width: 90%;
}

/* 色の設定 */
.colorcontainer {
	display: table;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 1px;
}

.colorcontainer span:first-child {
	display: table-cell;
	width: 10rem;
	padding-left: 1rem;
}

.colorcontainer input[type='text'] {
	width: 6rem;
}
