/* peep */
div.contents.searchbox {
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
}

/* テキストボックス＋開くボタン */
#peep_box {
	display: table;
	width: 100%;
	padding: 4px;
	overflow: hidden;
}

#peep_box > span {
	display: table-cell;
	vertical-align: middle;
}

#peep_box > span:first-child {
	width: 8rem;
}

#peep_box > .peeptext > input[type=text] {
	width: 100%;
	min-width: 4rem;
}


#peep_box > span:last-child {
	width: 4rem;
}
