/* profile */
div.contents.profile {
	overflow-y: auto;
	overflow-x: hidden;
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal;
}

div.contents.profile .profilebase {
}

div.contents.profile .profilebase > div {
	text-align: center;
	padding:4px 8px;
}

div.contents.profile .profilebase > div.avatar img {
	width: 30%;
}

div.contents.profile .profilebase > div.display_name span {
	font-size: 2rem;
}

div.contents.profile .profilebase > div.acct span {
}

div.contents.profile .profilebase > div.note div a {
	color: #ffffff;
}
