/* profile */
div.contents.profile {
	overflow-y: hidden;
	overflow-x: hidden;
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal;
}

div.contents.profile .profilebase {
	position: relative;
	width: 100%;
}

div.contents.profile .profilebase:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8));
	content: '';
	z-index: 1;
}

div.contents.profile .profilebase > div {
	position: relative;
	text-align: center;
	padding:4px 8px;
	z-index: 2;
}

div.contents.profile .profilebase > div.avatar img {
	width: 30%;
}

div.contents.profile .profilebase > div.followed_by {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8));
	display: block;
}

div.contents.profile .profilebase > div.display_name {
	line-height: 2rem;
	-webkit-user-select: auto;
}

div.contents.profile .profilebase > div.display_name span {
	font-size: 2rem;
}

div.contents.profile .profilebase > div.acct {
	-webkit-user-select: auto;
}

div.contents.profile .profilebase > div.acct .instance {
	color: #add4f2;
}

div.contents.profile .profilebase > div.acct .instance:hover {
	opacity: 0.8;
	cursor: pointer;
}

div.contents.profile .profilebase > div.acct .instance {
}

div.contents.profile .profilebase > div.note div {
	line-height: 1.5rem;
	-webkit-user-select: auto;
}

div.contents.profile .profilebase > div.note div a {
	color: #add4f2;
}

div.contents.profile .profilebase > div.note div a:hover {
	opacity: 0.8;
}

div.contents.profile .profilebase > div.special {
	margin: 8px 0;
	display: block;
	width: 100%;
}

div.contents.profile .profilebase > div.stats {
	border-top: 1px solid #c0c0c0;
	display: table;
	width: 100%;
}

div.contents.profile .profilebase > div.stats > div {
	display: table-cell;
}

div.contents.profile .profilebase > div.stats > div > span {
	display: block;
}

div.contents.profile .profilebase > div.stats > div > span:last-child {
	font-weight: bold;
}

div.contents.profile .profilebase > div.stats > div .followers_count:hover,
div.contents.profile .profilebase > div.stats > div .following_count:hover
{
	cursor: pointer;
}

div.contents.profile .profilebase > div.relationships {
	border-top: 1px solid #c0c0c0;
	display: table;
	width: 100%;
	background: #000000;
}

div.contents.profile .profilebase > div.relationships > div {
	display: table-cell;
}

div.contents.profile .profilebase > div.relationships > div > span {
	font-size: 24px;
	color: #808080;
	opacity: 0.5;
}

div.contents.profile .profilebase > div.relationships > div > span:hover {
	cursor: pointer;
	opacity: 1.0;
}

div.contents.profile .profilebase > div.relationships > div > span.on {
	color: #3ba0e9;
	opacity: 1.0;
}

