/* タイムライン */
div.contents.timeline .lines {
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
}

/* インスタンス情報 */
div.contents.timeline .lines .panel_btns .instance_info_window {
	display: none;
	position: absolute;
	z-index: 8900;
	border: 1px solid #101010;
	box-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.5 );
	background: #2e2e2e;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 4px;
}

/* Streaming Control */
div.contents.timeline .lines .panel_btns .streamctl {
	text-align: right;
}

div.contents.timeline .lines .panel_btns .streamctl > a {
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-right: 12px;
	border: 1px inset #808080;
}

div.contents.timeline .lines .panel_btns .streamctl > a:hover {
	cursor: pointer;
}

div.contents.timeline .lines .panel_btns .streamctl > a.on {
	background: #60ffa0;
}

div.contents.timeline .lines .panel_btns .streamctl > a.off {
}

div.contents.timeline .lines .panel_btns .streamctl > a.try {
	background: #ffcc60;
}

/* リスト部 */
div.contents.timeline .lines .timeline_list {
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

div.contents.timeline .lines div.item {
	display: table;
	width: 100%;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.4 );
	padding: 2px;
	background: #282828;	/* color set:ツイートのBG */
	color: #ffffff;
}

/* 詳細表示の元Toot */
div.contents.timeline .lines div.item.source {
	filter: brightness(130%);
}

/* 新着 */
div.contents.timeline .lines div.item.new {
	background: #204060;	/* color set:新着ツイートのBG */
}

div.contents.timeline .lines div.item.resopen {
	border-bottom: none;
}

/* アイコン */
div.contents.timeline .lines div.item > .avatar {
	display: table-cell;
	width: 38px;
	padding-top: 4px;
	padding-right: 4px;
	vertical-align: top;
	text-align: right;
}

div.contents.timeline .lines div.item > .avatar > img {
	width: 32px;
	height: 32px;
}

div.contents.timeline .lines div.item > .avatar img:hover {
	cursor: pointer;
}

/* 名前・日付・お気に入り～ツイート～ボタン */
div.contents.timeline .lines div.item > .toot {
	position: relative;
	display: table-cell;
	vertical-align: top;
	padding: 4px;
}

div.contents.timeline .lines div.item.deleted {
	opacity: 0.5;
}

/* Notification */
div.contents.timeline .lines div.item > .toot .notification {
	display: table;
	width: 100%;
	padding-bottom: 2px;
}

div.contents.timeline .lines div.item > .toot .notification .acct {
	opacity: 0.6;
	font-size: 0.9rem;
}

div.contents.timeline .lines div.item > .avatar .icon-star {
	font-size: 32px;
	color: #eda637;
}

div.contents.timeline .lines div.item > .avatar .icon-loop {
	font-size: 32px;
	color: #3ba0e9;
}

/* 名前・日付・お気に入り */
div.contents.timeline .lines div.item > .toot .headcontainer {
	display: table;
	width: 100%;
	table-layout: fixed;
}

/* 名前・日付 */
div.contents.timeline .lines div.item > .toot .headcontainer .namedate {
	display: table-cell;
	font-size: 0.9rem;
	padding-right: 2rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	width: 100%;
}

div.contents.timeline .lines div.item > .toot .headcontainer .namedate .anchor {
	opacity: 0.6;
}

div.contents.timeline .lines div.item > .toot .headcontainer .namedate .anchor:hover {
	opacity: 0.8;
}

/* フォロー矢印 */
div.contents.timeline .lines div.item > .toot .headcontainer .namedate .icon-arrow-right {
	padding: 0 2px;
	color: #db4d4c;
}

div.contents.timeline .lines div.item > .toot .headcontainer .namedate .icon-arrow-left {
	padding: 0 2px;
	color: #4bb3d3;
}

div.contents.timeline .lines div.item > .toot .headcontainer .namedate .display_name,
div.contents.timeline .lines div.item > .toot .notification .display_name,
div.contents.timeline .lines div.item > .toot .headcontainer .namedate .username
{
	-webkit-user-select: auto;
}

div.contents.timeline .lines div.item > .toot .headcontainer .namedate .username:hover {
	cursor: pointer;
	opacity: 0.8;
}

div.contents.timeline .lines div.item > .toot .headcontainer .namedate .username
{
	opacity: 0.6;
}

div.contents.timeline .lines div.item > .toot .headcontainer .namedate .display_name:hover,
div.contents.timeline .lines div.item > .toot .notification .display_name:hover {
	cursor: pointer;
	opacity: 0.8;
}

div.contents.timeline .lines div.item > .toot .headcontainer .namedate .display_name,
div.contents.timeline .lines div.item > .toot .notification .display_name {
	font-weight: bold;
	font-size: 1rem;
}

div.contents.timeline .lines div.item > .toot .headcontainer .namedate .source {
	opacity: 0.4;
}

/* 日付 */
div.contents.timeline .lines div.item > .toot .headcontainer .date {
	padding-right: 8px;
}

/* カウント数表示 */
div.contents.timeline .lines div.item > .toot .headcontainer .namedate .btfav_cnt > .icon-loop {
	color: #3ba0e9;
}

div.contents.timeline .lines div.item > .toot .headcontainer .namedate .btfav_cnt > .icon-star {
	color: #eda637;
}

/* オプション */
div.contents.timeline .lines div.item > .toot .headcontainer .options {
	display: table-cell;
	text-align: right;
	vertical-align: top;
	width: auto;
	white-space: nowrap;
	font-size: 1.3rem;
	position: absolute;
	right: 0;
	top: 0;
	padding: 4px;
	border-radius: 0 6px 0 0;

	background: #282828;	/* color set:ツイートのBG */
}

div.contents.timeline .lines div.item.new > .toot .headcontainer .options {
	background: #204060;	/* color set:新着ツイートのBG */
}

/* アカウント選択 */
div.contents.timeline .lines div.item > .toot .headcontainer .options .accsel {
	min-width: 90px;
	display: none;
	position: absolute;
	right: 0;
	word-break: break-all;
	word-wrap: break-word;
	z-index: 8900;
	border: 1px solid #101010;
	box-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.5 );
	background: #2e2e2e;
	white-space: normal;
}

/* ボタン群 */
div.contents.timeline .lines div.item > .toot .headcontainer .options .btns {
	display: inline-block;
	cursor: pointer;
	opacity: 0.4;
	padding-right: 2px;
}

div.contents.timeline .lines div.item > .toot .headcontainer .options .btns:hover {
	opacity: 0.8;
}

/* ブースト */
div.contents.timeline .lines div.item > .toot .headcontainer .options .timeline_boost.on {
	color: #3ba0e9;
	opacity: 1.0;
}

div.contents.timeline .lines div.item > .toot .headcontainer .options .timeline_boost.off {
	color: #ffffff;
	display: none;
}

/* お気に入り */
div.contents.timeline .lines div.item > .toot .headcontainer .options .fav {
	cursor: pointer;
}

div.contents.timeline .lines div.item > .toot .headcontainer .options .fav.on {
	color: #eda637;
}

div.contents.timeline .lines div.item > .toot .headcontainer .options .fav.off {
	color: #a4a396;
	display: none;
}

/* ブースト */
div.contents.timeline .lines div.item > .avatar .boost {
	display: block;
	margin-top: -6px;
	margin-right: -6px;
}

div.contents.timeline .lines div.item > .avatar .boost img {
	width: 24px;
	height: 24px;
}

div.contents.timeline .lines div.item > .avatar .boost img:hover {
	cursor: pointer;
}

/* もっと見る */
div.contents.timeline .lines div.item > .toot > .spoiler_text > .showmore_button {
	display: inline-block;
	line-height: 1rem;
	font-size: 0.9rem;
	background: #787878;
	color: #282828;
	padding: 4px 8px;
	text-align: center;
	-webkit-user-select: none;
}

div.contents.timeline .lines div.item > .toot > .spoiler_text > .showmore_button:hover {
	cursor: pointer;
	background: #989898;
}

/* トゥート */
div.contents.timeline .lines div.item > .toot > .toot_text {
	line-height: 1.4rem;
	-webkit-user-select: auto;
	word-break: break-word;
	white-space: pre-wrap;
}

div.contents.timeline .lines div.item > .toot > .toot_text.off {
	display: none;
}

div.contents.timeline .lines div.item > .toot > .toot_text.notification {
	opacity: 0.5;
	font-size: 0.9rem;
	line-height: 1.3rem;
}

div.contents.timeline .lines div.item > .toot > .toot_text.notification img {
	display: none;
}


/* トゥート内リンク */
div.contents.timeline .lines div.item > .toot > .toot_text .anchor {
	color: #add4f2;
}

div.contents.timeline .lines div.item > .toot > .toot_text p {
	padding: 0.3rem 0;
}

/* code (Qiitadon) */
div.contents.timeline .lines div.item > .toot > .toot_text code {
	display: block;
	background: #484848;
	padding: 4px;
}

div.contents.timeline .lines div.item > .toot > .toot_text code.inline {
	display: inline;
	padding: 0 2px;
}

div.contents.timeline .lines div.item > .toot > .toot_text.notification p {
	padding: 0.2rem 0;
}

div.contents.timeline .lines div.item > .toot > .toot_text p:last-child {
	padding-bottom: 0;
}

div.contents.timeline .lines div.item > .toot > .toot_text .anchor:hover {
	opacity: 0.8;
}

/* サムネイル */
div.contents.timeline .lines div.item > .toot > .toot_text .thumbnails {
	position: relative;
	line-height: 0;
}

div.contents.timeline .lines div.item > .toot > .toot_text .thumbnails > .nsfw_change {
	display: inline-block;
	line-height: 1rem;
	font-size: 0.9rem;
	background: #181818;
	color: #ffffff;
	padding: 4px 8px;
	text-align: center;
	-webkit-user-select: none;
}

div.contents.timeline .lines div.item > .toot > .toot_text .thumbnails > .nsfw_change:hover {
	cursor: pointer;
	background: #383838;
}

div.contents.timeline .lines div.item > .toot > .toot_text .thumbnails > .images {
}

div.contents.timeline .lines div.item > .toot > .toot_text .thumbnails > .images img {
	width: 75px;
	height: 75px;
	margin: 2px;
}

div.contents.timeline .lines div.item > .toot > .toot_text .thumbnails > .images img:hover {
	cursor: pointer;
}

/* 動画サムネイル */
div.contents.timeline .lines div.item > .toot > .toot_text .thumbnails > .images img.video {
	width: 100px;
	height: 75px;
	margin: 2px;
}

/* メニューボックス */
div.contents.timeline .lines div.item > .toot .menubox {
	display: none;
	position: relative;
	margin: 2px 0;
	padding: 2px 2px 0;
}

div.contents.timeline .lines div.item > .toot .menubox .btn {
	padding: 6px 8px;
	margin: 2px;
}

div.contents.timeline .lines .readmore {
	display: block;
	width: 50%;
	margin: 8px auto;
	text-align: center;
}



/* タイムライン設定 */
div.contents.timeline .setting {
	overflow-x: hidden;
	overflow-y: hidden;
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
	height: 100%;
}

/* 設定項目部 */
div.contents.timeline .setting .tlsetting_items {
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

div.contents.timeline .setting .tlsetting_items .kind {
	padding: 4px 8px;
}

div.contents.timeline .setting .tlsetting_items .kind:hover {
	cursor: pointer;
}

div.contents.timeline .setting .tlsetting_items .kind > span {
	padding-right: 2px;
}

div.contents.timeline .setting .tlsetting_items .kinditems {
	min-width: 240px;
	margin: 2px;
	padding: 4px;
	border: 1px solid #101010;
	white-space: normal;
}

div.contents.timeline .setting .tlsetting_items .group {
	margin: 2px;
	padding: 4px;
}

div.contents.timeline .setting .tlsetting_items .group > .title {
	width: 100%;
	margin: 2px;
}

/* 新着読み込み設定 */
div.contents.timeline .setting .set_reload_time {
	width: 50%;
}

/* 一度に取得するツイート数設定 */
div.contents.timeline .setting .set_get_count {
	width: 50%;
}

/* タイムラインに表示する最大ツイート数設定 */
div.contents.timeline .setting .set_max_count {
	width: 50%;
}

/* メンバー数 */
div.contents.timeline .setting .member {
	display: table;
	width: 100%;
	margin-bottom: 4px;
}

div.contents.timeline .setting .member div:first-child {
	display: table-cell;
	text-align: left;
}

div.contents.timeline .setting .member div:last-child {
	display: table-cell;
	text-align: right;
}

/* メンバーリスト */
div.contents.timeline .setting .member_list {
	overflow-y: auto;
	height: 180px;
	border: 1px solid #101010;
}

div.contents.timeline .setting .member_list > span {
	display: inline-block;
	color: #c0c0c0;
	margin: 4px;
}

div.contents.timeline .setting .member_list > div {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 2px;
}

div.contents.timeline .setting .member_list > div img {
	width: 32px;
	height: 32px;
}

div.contents.timeline .setting .member_list > div:hover {
	cursor: pointer;
}


/* アカウント選択 */
div.contents.timeline .setting .accsel {
	margin-bottom: 4px;
}

div.contents.timeline .setting .acclist {
	overflow-y: auto;
	padding: 2px;
	height: 39px;
	border: 1px solid #101010;
}

div.contents.timeline .setting .acclist > div {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 2px;
}

div.contents.timeline .setting .acclist > div img {
	width: 32px;
	height: 32px;
}

div.contents.timeline .setting .acclist > div.selected {
	background: #204060;
}

div.contents.timeline .setting .acclist > div:hover {
	cursor: pointer;
}
