/* tootbox */
div.contents.tootbox {
	overflow-x: hidden;
	overflow-y: hidden;
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
	height: 100%;
}

/* テキストエリア＋トゥートボタン */
.tootbox_box {
	width: 100%;
	height: 120px;
	padding: 8px 4px;
}

/* CW */
.tootbox_box .cw {
	width: 100%;
}

.tootbox_box .cw > input[type=text] {
	width: 100%;
}

/* テキストエリア */
.tootbox_box .text {
	height: 60px;
	width: 100%;
}

.tootbox_box .cnt_buttons {
	display: table;
	padding-top: 4px;
	width: 100%;
}

.tootbox_box .cnt {
	display: table-cell;
	width: 30%;
	text-align: left;
	color: #88ccff;
	font-size: 1.4rem;
	padding-left: 8px;
	vertical-align: middle;
}

.tootbox_box .cnt.ng {
	color: #ff88cc;
}

.tootbox_box .buttons {
	display: table-cell;
	width: 70%;
	text-align: right;
	vertical-align: middle;
}

.tootbox_box .buttons .btn.toot {
	padding: 8px 16px;
}

.tootbox_box .imageattach_input {
	visibility: hidden;
}

.tootbox_box .pvselect {
	position: absolute;
	z-index: 8900;
	border: 1px solid #101010;
	box-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.5 );
	background: var(--panel-background);
}

.tootbox_box .pvselect > div {
	text-align: left;
	padding: 4px;
}

.tootbox_box .pvselect > div.selected {
	background: #406080;
}

.tootbox_box .pvselect > div:hover {
	background: var(--general-highlight);
	cursor: pointer;
}

/* 添付画像 */
.tootimages {
	display: block;
}

.tootimages .imageitem {
	display: inline-block;
	padding: 2px;
	margin: 0 auto;
	margin-bottom: 4px;
	text-align: left;
}

.tootimages .imageitem > div {
	display: inline-block;
	vertical-align: middle;
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal;
}

.tootimages .imageitem > div.del {
	vertical-align: top;
}

.tootimages .imageitem > div.icon img {
	width: 40px;
	height: 40px;
	margin: 2px 0px 0px 4px;
	font-size: 24px;
}

/* 削除ボタン */
.tootimages .imageitem > div.del span {
	width: 12px;
	height: 12px;
	padding-right: 4px;
	font-size: 8px;
}

.tootimages .imageitem > div.del span:hover {
	cursor: pointer;
}

.tootimages .imageitem > div.filename {
	padding-left: 4px;
	width: 100%;
}

.tootimages .imageitem > div.filename > span {
	font-size: 0.8rem;
}

/* 返信 */
.tootreply {
	display: block;
}

.tootreply .replyitem {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.tootreply .replyitem > div {
	display: table-cell;
	vertical-align: middle;
	word-break: break-all;
	word-wrap: break-word;
	padding: 4px;
}

.tootreply .replyitem .avatar {
	width: 32px;
	text-align: center;
}

.tootreply .replyitem .avatar > img {
	width: 24px;
	height: 24px;
}

.tootreply .replyitem .reply {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: auto;
}

.tootreply .replyitem .del span:hover {
	cursor: pointer;
}

.tootreply .replyitem .del {
	width: 32px;
}
