/* ユーザー一覧 */
div.contents.users {
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
}

/* リスト部 */
.users_list {
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.users_list div.item {
	display: table;
	width: 100%;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.4 );
	padding: 2px;
	table-layout: fixed;
}

.users_list div.item:hover {
	cursor: default;
}

.users_list div.item > .avatar {
	display: table-cell;
	width: 38px;
	padding-top: 4px;
	padding-right: 4px;
	vertical-align: top;
	text-align: right;
}

.users_list div.item .avatar > img {
	width: 32px;
	height: 32px;
}

.users_list div.item .avatar > img:hover {
	cursor: pointer;
}

.users_list div.item .container {
	display: table-cell;
	vertical-align: top;
	padding: 4px;
}

.users_list div.item .container .names {
	font-size: 0.8rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.users_list div.item .container .names .display_name,
.users_list div.item .container .names .username {
	user-select: text;
}

.users_list div.item .container .names .display_name {
	font-weight: bold;
	font-size: 1rem;
}

.users_list div.item .container .names .display_name:hover {
	cursor: pointer;
	opacity: 0.8;
}

/* 名前 */
.users_list div.item .container .names .username {
	opacity: 0.6;
}

.users_list div.item .container .names .username:hover {
	cursor: pointer;
	opacity: 0.8;
}

/* トゥート数、フォロー数 */
.users_list div.item .container .counts {
	opacity: 0.6;
	font-size: 0.8rem;
	padding: 2px 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.users_list div.item .relationships {
	display: table-cell;
	vertical-align: middle;
	width: 38px;
	padding: 4px;
}

.users_list div.item .relationships.off {
	display: none;
}

.users_list div.item .relationships > span {
	font-size: 24px;
	color: #808080;
	opacity: 0.5;
}

.users_list div.item .relationships > span:hover {
	cursor: pointer;
	opacity: 1.0;
}

.users_list div.item .relationships > span.on {
	color: #3ba0e9;
	opacity: 1.0;
}

.users_list .readmore {
	display: block;
	width: 50%;
	margin: 8px auto;
	text-align: center;
}
